.header {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.header .content {
    border-right: 1px solid black;
}

.media-img {
    width: 50%;
    height: 50%;
}





/*@media screen and (max-width: 299px) {
    .fa .fa-twitter {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .fa .fa-twitter {
        font-size: 2em;
    }
}

@media screen and (min-width: 800px) {
    .fa .fa-twitter {
        font-size: 6em;
    }
}*/