html, body {
    max-width: 100%;
    overflow-x: hidden;
}


:root {
    --primary: #577ae4;
    --secondary: #ffffff;
    --tertiary: #000000;
    --odd-section:  #efe9ff;
}

.primary-clr {
    color: var(--primary);
}

.secondary-clr {
    color: var(--secondary) !important;
}

.primary-bg-clr {
    background-color: var(--primary);
}

.secondary-bg-clr {
    background-color: var(--secondary);
}
/* .conatiner-whole {
    margin-left: 12rem;
    margin-right: 12rem;
} */

* {
    margin: 0;
    padding: 0;
}

/* .odd-section {
    padding: 0rem 12rem;
} */

.odd-section {
    background-color: #efe9ff;
}

/* default */
nav ul li a, nav ul li a:visited {
    color: var(--tertiary) !important;
}

nav ul li a:hover, nav ul li a:active {
    color: var(--primary) !important;
}

nav ul li.active a {
    color: var(--primary) !important;
}




/* refactoring */
.cards-header {
    padding-right: 19%;
    padding-left: 19%;
}

.content .cards {
    width: 30%;
}

.crafting-ux ul li :hover {
    /* transform: scale(1.05); */
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.media-img {
    width: 35rem; height: 30rem;
}



.media .media-body {
    /* background-color: aliceblue; */
    text-align: start;
}

/* .media .media-body .header-section {
    background-color: lightgray;
} */

.media .media-body .header-section .span-text {
    color: var(--primary);
}

.media .media-body .header-h6 {
    border-radius: 20%;
    border: 0px solid black;
    display: inline-block;
    background-color: var(--primary);
    color: whitesmoke;
}

.media .media-body .media-links .btn-clr {
    background-color: var(--primary);
}

.media .media-body .media-links .card-link {
    color: black;
}



/* .card-content .card .card-image {
    background-color: lightgray;
} */


/*.media-body {
    line-height: 2rem;
}*/


/* fourth section */
.fourth-section .footer .icons .company-logo {
    width: 6rem;
    height: 3rem;
}

.fourth-section .media-section .media {
    width: 45%;
}

.fourth-section .media-section .media .image {
    width: 5rem;
}

/* fifth-section */

/* .odd-section .count-cards {
    margin-left: 7rem;
    margin-right: 7rem;
}

.odd-section .media .carousel {
    width: 50%;
}
.odd-section .first-part .media {
    width: 50%;
}
.odd-section .first-part .carousel {
    width: 50%;
} */


.fa-check-circle {
    color: green;
}

.fifth-section .count-cards {
    background: var(--secondary);
}
.fifth-section .count-cards .count-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth-section .carousel-indicators li {
    border-radius: 50% !important;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


/* sixth section */
.sixth-section .cards .card {
    width: 45%;
}


/* seventh section */
.seventh-section .comment-box-section .media:last-child {
    opacity: 0.8;
}

/* eighth section */


.eighth-section .mask {
    height: 30rem;
    display: flex;
}



.developers {
    color: var(--secondary);
}

.list-group-item-custom {
    position: relative;
    display: block;
    padding: .75rem 0rem;
    border: none;
}

.list-group-item-custom a{
    color: var(--secondary);
}

.list-group-item-custom a:active {
    color: red;
}

@media screen and (max-width: 566.98px) { 
    html {
        font-size: 10px;
    }
    h1 {
        font-size: 0.9rem;
    }
    p.h6 {
        font-size: .15rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding-right: 0rem;
        padding-left: 0rem;
    }
    .media-body-heading {
        display: flex;
    }
    .media-links {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .crafting-ux ul {
        display: flex;
        flex-direction: row;
    }
    /* .odd-section {
        font-size: 6px;
    } */
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 567px) and (max-width: 767.98px) { 
    html {
        font-size: 10px;
    }
    h1 {
        font-size: 1rem;
    }
    p.h6 {
        font-size: .5rem !important;
    }
    .media-links {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .media-links button {
        margin-bottom: 1rem;
    }

    .crafting-ux ul {
        display: flex;
        flex-direction: row;
    }
    /* .odd-section {
        font-size: 6px;
    } */
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    html {
        font-size: 12px;
    }
    h1 {
        font-size: 1.4rem;
    }
    p.h6 {
        font-size: 0.7rem !important;
    }

    .crafting-ux ul {
        display: flex;
        flex-direction: row;
    }
    /* .odd-section {
        font-size: 8px;
    } */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {
        font-size: 14px;
    }
    h1 {
        font-size: 1.9rem;
    }
    p.h6 {
        font-size: 0.8rem !important;
    }
    /* .odd-section {
        font-size: 10px;
    } */
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html {
        font-size: 1rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    p.h6 {
        font-size: 1rem !important;
    }
    /* .odd-section {
        font-size: 14px;
    } */
 }
